@import "src/variable";

.binary {
  padding: 1rem;

  &-title {
    padding: 1rem;
    text-align: center;
    font-size: #{$lg}rem;
  }

  &-control {
    border: 1px solid $gray-300;
    display: flex;
    padding: 1rem;
  }

  &-content {
    padding: 1rem;
  }

}

::ng-deep {
  .binary {
    &-result {
      color: $primary;
    }

    &-error {
      color: $danger;
    }
  }
}
